.hero {
  background-color: #2c363f;
  font-family: "Inter", sans-serif;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  height: calc(100vh - 4.25rem);
  padding: 0 var(--padding);

  color: white;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);

  max-width: var(--max-width);
  margin: 0 auto;
}

@media (max-width: 800px) {
  .contentWrapper {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 0;
  font-size: 3rem;
}

.subtitle {
  font-size: 2rem;
}

.hero img {
  min-width: 18.75rem;
  width: 50%;
  max-width: 31.25rem;
  height: auto;
}
