nav {
  position: absolute;
  width: 100%;
}

.logoListWrapper {
  background-color: #223843;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  padding: 1rem 3.75rem;
  font-size: 1.25rem;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2rem;
}

.logo {
  color: #dfcc74;
  text-decoration: none;
}

@media (max-width: 750px) {
  .logo {
    font-size: 1.75rem;
  }
  .logoListWrapper {
    font-size: 1rem;
  }
}

.dot {
  color: #51a3a3;
  font-size: 2.5rem;
}

.nav ul {
  color: white;
  font-weight: lighter;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav ul li {
  padding: 0.25rem;
  border-radius: 5%;
}

.nav ul li a {
  color: white;
  text-decoration: none;
}

.nav li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.contact {
  background-color: #dfcc74;
  color: #223843;
  padding: 0.25rem 0.75rem !important;
  border-radius: 5%;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 655px) {
  .nav ul {
    display: none;
  }
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

@media (min-width: 656px) {
  .hamburger {
    display: none;
  }
  .mobileNav {
    display: none;
  }
}

.hamburger .bar,
.hamburger:before,
.hamburger:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.isActive:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.isActive:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.isActive .bar {
  opacity: 0;
}
