.footer {
  background-color: #223843;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  color: white;

  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1.25rem var(--padding);
  max-width: var(--max-width);
  margin: 0 auto;
}

.websitesWrapper {
  display: flex;
  gap: 2rem;
}

.footer img {
  height: 2.5rem;
  width: 2.5rem;
}

hr {
  border-top: 1px;
  border-color: #757780;
  width: 14.5rem;
}

.footer > div {
  text-align: center;
}

.footer a {
  color: #dfcc74;
  text-decoration: none;
}
